<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./main.css">

    <title>Document</title>
</head>
<body>
<h1> Gabble</h1>
 <form action="/homepage" method="post">
        <input type="text" name="body" placeholder="Tell us whats on your mind">
        <input type="submit">
    </form>

    {{#post}}
    {{authorId}}
    {{body}}
    {{/post}}
    
</body>
</html>