<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./main.css">

    <title>Document</title>
</head>

<body>
    <div class="nav bar">
        <a href="/homepage">Gabble</a>
        <div> logged in as : {{#post}}{{dataValues.author.dataValues.username}}{{/post}}</div>
        <a href="/logout"> Log out</a>
    </div>
    <h1> Gabble</h1>
    <form action="/homepage" method="post">
        <input type="text" name="body" placeholder="Tell us whats on your mind">
        <input type="submit">
    </form>

    {{#post}}
    <div class="eachpost">
        <div class="name">
            {{dataValues.author.dataValues.firstName}} {{dataValues.author.dataValues.lastName}}</div>
        <br> {{body}}
        <br>
        <div class="delete">
            <form action="/like" method="POST">
                <input type="hidden" name="postid" value={{id}}>
                <input type="hidden" name="authorid" value={{user.id}}>
                <input class="likeBtn" type="submit" value="Like"></form>Liked by: &nbsp {{likes.length}} &nbsp users &nbsp
            </form>
            <form action="/delete-post" method="post">
                <button type="submit" name="id" value={{id}}> delete this post!</button>
            </form>
        </div>
    </div>
    <br> {{/post}}


</body>

</html>