<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./main.css">

    <title>Document</title>
</head>

<body>
    <h1>Welcome to gabble</h1>
    <a href="/signup">Sign Up!</a>
    <a href="/login">Login!</a>
    <div class="logo"><img src="gabbleLogo.png" alt="GabbleLogo"></div>
    <div class="openingIntro">
        Welcome to Gabble! We here at Gabble would like to thank you for visiting our page and thought we would take some time to
        explain what it is and how it works. Gabble is a social experience to navigate and communicate with your fellow friends
        family and classmates. Please make an account to get started totaly free!
    </div>

</body>

</html>