<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./main.css">
    <title>My Gabbs</title>
</head>

<body>
    <div class="nav-bar">
        <img class="logo" src="gabbleLogo.png" alt="GabbleLogo">
        <a href="/homepage">Gabble</a>
        <a href="/profile">logged in as :  {{user.firstName}} </a>
        <a href="/logout"> Log out</a>
    </div>

</body>

</html>