<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./main.css">

    <title>Document</title>
</head>

<body>
 <div class="nav-bar">
        <img class=:logo"" src="gabbleLogo.png" alt="GabbleLogo">
        <a href="/homepage">Gabble</a>
        <a href ="/profile">logged in as : {{#all}} {{author.firstName}}{{/all}}</a>
        <a href="/logout"> Log out</a>
    </div>
    <h1> Gabble</h1>
    <h2> Update your profile:</h2>
     <form action="/update" method="post">
     {{#all}} Username: {{author.username}}{{/all}}
        <input type="password" name="password" placeholder="password">
        <input type="text" name="email" placeholder="email">
        <input type="text" name="firstName" placeholder="First Name">
        <input type="text" name="lastName" placeholder="Last Name">
        <input type="text" name="bio" placeholder="Please Enter a short bio about your self">
        <input type="submit">
    </form>




</body>

</html>